<div class="bgimg-1">
    <div class="caption">
        <a routerLink="/users"><span class="border">Discover</span></a>
    </div>
  </div>
  
  <div style="color: #777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
    <h2 style="text-align:center;">What is Irongram?</h2>
    <p>IronGram is a web app for Ironhacker students to show case their profile. 
      The application and service allows users to share publicly links of their demos projects that was developed during the bootcamp.
      Also It allows IronHackers to keep in touch with each other throuth our private blog.
    </p>
  </div>
  
  <div class="bgimg-2">
    <div class="caption">
      <span  style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
        <h2 style="text-align:center;color:#777;">How it Works?</h2>
      <p>
        As an ironhacker you can sign-in and customise your profile.
        After it is done your profile is available publicly.
        Don't forget that you can keep in touch with the Ironhack community.
      </p>
    </div>
  </div>
  
  <div class="bgimg-3">
    <div class="caption">
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
        <h2 style="text-align:center;color:#777">What if I'm not an Ironhacker?</h2>
      <p>You are more than welcome to browser the IronHackers profiles and check their projects.
        Also you can connect by social media and email with them.<br />
        Hopefuly you get inspired and soon you will be part of IronGram too.
      </p>
    </div>
  </div>
  
  <div class="bgimg-1">
    <div class="caption">
    </div>
  </div>
 
  <div class="footer" id="button">
    <div id="container">
    <div id="cont">
    <div class="footer_center">
         <h3>IronGram, All rights reserved 2017-2018.</h3>
    </div>
    </div>
    </div>
    </div>



<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>MongoDB</h3>
        <p>MongoDB is a free and open-source cross-platform document-oriented database program. This NoSQL database program uses JSON-like documents with schemas.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>ExpressJS</h3>
        <p>Express.js is a Node.js framework. Node.js is a platform that allows JavaScript to be used outside the Web Browsers, for creating web and network applications.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417751.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Angular 2</h3>
        <p>Angular is a development platform for building mobile and desktop web applications. Ut dignissim eleifend maximus. Ut dignissim eleifend maximus. Ut dignissim eleifend.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417754.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>NodeJS</h3>
        <p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417768.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Lorem Ipsum</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417764.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Lorem Ipsum</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>

</div> -->




