
    <div class="profile" *ngIf="singleUser">
       <div class="user-card"></div>
       <div class="circle" height:150px width:150px>
         <img src="{{singleUser.avatar}}" />
       </div>
  
      <div>
          <ul>
              <li class="first"><h1>{{singleUser.firstName}} {{singleUser.lastName}}</h1></li>
              <li class="second"><h3>Location: {{singleUser.location}}</h3></li>
              <li class="third"><h3>Bootcamp: {{singleUser.bootcamp}}</h3></li>
              <li class="four" *ngIf= "singleUser.hire"><h3>Available for Hire</h3></li>
              <li class="four" *ngIf= "!singleUser.hire"><h3>No Available for Hire</h3></li>
          </ul>     
        <div class="links">
          <a href="https://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-lg"></i></a>
          <a href="https://github.com/"><i class="fa fa-github fa-lg"></i></a>
          <a class="mail" href="mailto:{{ singleUser.email }}"><i class="fa fa-envelope fa-lg message"></i></a>
        </div>
      </div>

          <div class="bio-container">
              <h3 class="bio"><span class="first-letter">"</span>{{ singleUser.bio }}"</h3>
          </div>

 
    <div class="d-flex justify-content-center view view-thumb">
             <div class="p-2 square">
               <div class="overlay mask">

                  <h2>Project 1</h2>
                  <p>Game</p>
                  <a href="{{ singleUser.projectOne }}" target="_blank" class="info">See Demo</a> 
               </div>  
            </div>

            <div class="p-2 mask square">
                <div class=overlay></div>
                <h2>Project 2</h2>
                <p>Game</p>
                <a href="{{ singleUser.projectTwo }}" target="_blank" class="info">See Demo</a> 
            </div>
            <div class="p-2 mask square">
                <div class=overlay></div>
                <h2>Project 3</h2>
                <p>Game</p>
                <a href="{{ singleUser.projectThree }}" target="_blank" class="info">See Demo</a> 
            </div>

           </div>
          </div>