
<div class="container">
            <div class="span4">
                 <div class="thumbnail">
                        <div class="caption">
                            <h4>Irongram Galery</h4>
                            <p>Take a close look to the Ironhackers</p> 
                        </div>
                    </div>
              </div>
</div>
      
<div class="container">
                    <div class="main">
                        <div class="box" *ngFor="let user of usersList">
                            <img src="{{ user.avatar }}" />
                                <div class="overlay">
                                </div>
                            <a class="more" [routerLink]="['/users', user._id]"> More About {{ user.firstName }} </a>      
                        </div>  
      </div>
    </div>
                




    
    