<div id="all">
  <nav>
    <ul>
      <li>
        <a routerLink="/">HOME</a>
      </li>
      <li>
        <a routerLink="/register">REGISTER</a>
      </li>
      <li *ngIf="logged">
        <a routerLink="/login">LOGIN</a>
      </li>
      <li>
        <a routerLink="/users">IRONHACKERS</a>
      </li>
      <li *ngIf="!logged">
        <a routerLink="/login" (click)="logout()">LOGOUT</a>
      </li>
      <li>
        <a routerLink="/feed">FEED</a>
      </li>
      <li>
        <a routerLink="/contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>
